## Filtrar datos en DataFrames

In [2]:
import pandas as pd

# En columnas
datos = {
    "pais": ["Estados Unidos", "China", "Brasil", "India", "México"],
    "km2": [9833517, 9600000, 8515767, 3287263, 1964375]
}

paises = pd.DataFrame(datos)
paises

             pais      km2
0  Estados Unidos  9833517
1           China  9600000
2          Brasil  8515767
3           India  3287263
4          México  1964375

### ¿Como filtrar datos?

In [2]:
filtro=[True,False,False,False,True]
paises[filtro]

             pais      km2
0  Estados Unidos  9833517
4          México  1964375

### Filtrar países con superficie mayor a 3287263 km^2

In [4]:
filtro = paises["km2"]>3287263
paises[filtro]

             pais      km2
0  Estados Unidos  9833517
1           China  9600000
2          Brasil  8515767

### Crear DataFrame a partir de datos_paises.csv

In [4]:
paises = pd.read_csv("datos_paises.csv", index_col=0)
paises

                            continente        km2  poblacion_miles
pais
China                             Asia  9600000.0          1409517
India                             Asia  3287263.0          1339180
United States of America       America  9833517.0           324460
Indonesia                         Asia  1910931.0           263991
Brazil                         America  8515767.0           209288
...                                ...        ...              ...
Saint Helena                    Africa      308.0                4
Falkland Islands (Malvinas)    America    12173.0                3
Niue                           Oceania      260.0                2
Holy See                        Europa        1.0                1
Tokelau                        Oceania       12.0                1

[229 rows x 3 columns]

### Seleccionando paises de extension pequeña

#### Crear filtro para paises con superficie menor a 50 km^2

In [6]:
filtro = paises["km2"] < 50
paises[filtro]

                                 continente   km2  poblacion_miles
pais
China, Macao SAR                       Asia  30.0              623
Sint Maarten (Dutch part)           America  34.0               40
Monaco                               Europa   2.0               39
Gibraltar                            Europa   6.0               35
Bonaire, Sint Eustatius and Saba    America   1.0               25
Nauru                               Oceania  21.0               11
Tuvalu                              Oceania  26.0               11
Holy See                             Europa   1.0                1
Tokelau                             Oceania  12.0                1

### Seleccionando paises pequeños pero altamente poblados

#### Paises con superficie menor a 50km^2 y poblacion mayor a 500

In [7]:
# & | 
paises[(paises["km2"] < 50) & (paises["poblacion_miles"]>500)]

                 continente   km2  poblacion_miles
pais
China, Macao SAR       Asia  30.0              623

### Seleccionando paises muy pequeños o poco poblados

#### Paises con superficie menor a 5km^2 o con poblacion menor a 5

In [8]:
paises[ (paises["km2"]<5) | (paises["poblacion_miles"]<5) ]

                                 continente      km2  poblacion_miles
pais
Monaco                               Europa      2.0               39
Bonaire, Sint Eustatius and Saba    America      1.0               25
Saint Helena                         Africa    308.0                4
Falkland Islands (Malvinas)         America  12173.0                3
Niue                                Oceania    260.0                2
Holy See                             Europa      1.0                1
Tokelau                             Oceania     12.0                1

### Seleccionando paises pequeños, pocos póblados y europeos

#### Paises europeos con superficie menor a 50 km^2 y con poblacion menor a 50

In [13]:
paises[(paises["continente"]!="Europa") & (paises["km2"]<50) & (paises["poblacion_miles"]<50)]

                                 continente   km2  poblacion_miles
pais
Sint Maarten (Dutch part)           America  34.0               40
Bonaire, Sint Eustatius and Saba    America   1.0               25
Nauru                               Oceania  21.0               11
Tuvalu                              Oceania  26.0               11
Tokelau                             Oceania  12.0                1

In [5]:
paises["continente"]

pais
China                             Asia
India                             Asia
United States of America       America
Indonesia                         Asia
Brazil                         America
                                ...
Saint Helena                    Africa
Falkland Islands (Malvinas)    America
Niue                           Oceania
Holy See                        Europa
Tokelau                        Oceania
Name: continente, Length: 229, dtype: object